<link rel="stylesheet" href="./css/chat_box.css">


    <% if(locals.user){ %>
        <div id="user-chat-box">
            <ul id="chat-messages-list">
                <li class="other-message">
                    <span>
                        Hey! How's it going?
                    </span>
                </li>
                <li class="self-message">
                    <span>
                        I'm good, thanks! 😊
                    </span>
                </li>
            </ul>
            <div id="chat-message-input-container">
                <input id="chat-message-input" placeholder="Type message here">
                <button id="send-message">Send</button>
            </div>
        </div>

    <%} %>