footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: rgb(244, 118, 118);
    color: white;
    a
    {
        color: white;
        text-decoration: none;
        display: block;
    }
    #leftCorner
    {
        margin-left: 0.5vw;
        font-weight: bold;
        font-size: 1.4vw;
    }
    #rightCorner
    {
        margin-right: 1vw;
        font-size: 1vw;
        font-weight: bold;
    }
 }