<div>
    <p>Hi <%= user.name %></p>
    <p>Use this link to reset password of your ChatManch account. <a href="http://localhost:8000/users/reset-password/<%= user.accessToken %>">Click Here!</a></p>
    <p>Or paste the given link in your browser: http://localhost:8000/users/reset-password/<%= user.accessToken %></p> <br>
    <p>Thanks!</p>
</div>