header {
  background-color: #F35369;
  position: sticky;
  color: white;
  height: 3.5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}
header #leftCorner {
  margin-left: 0.5vw;
  font-weight: bold;
  font-size: 1.9vw;
}
header #rightCorner {
  margin-right: 0.5vw;
  font-size: 1.4vw;
}
